body{
    background-color: rgb(255, 255, 255);
}
button, button:focus
 {
    outline: none !important;
    box-shadow: none !important;
  }

.navbar
{
    .navbar-brand
    {
        color:#fff;
        &:hover
        {
            color:$color-primary2;
        }
        
    }
    .nav-item
    {
        a{
            color:#fff;
            &:hover{
                color:$color-primary2;
                cursor: pointer;
            }
        }
    
    }
    
    #shopping-cart
    {
        text-decoration: none;
    }
    
}
#footer
{
    #accounts,#useful-links
    {
        a{
            text-decoration: none;
            color: $color-primary2;
            
            &:hover
            {
                color: #fff;               
                text-decoration: underline;
            }
        }
    }
    #news-letter-form
    {
         .news-letter-btn
         {
            background-color: $color-primary2;
            color: #fff;
            &:hover
            {
                background-color: #fff;
                color:$color-primary2;
            }
        }
    }
    #social-links
    {
        .fa-brands{
            font-size: 25px;
            margin: 3px;
        }
       
        a{
            color: $color-primary2;
            transition: 0.8s;
            &:hover{
                color:#fff;
            }            
        }
    }
}