.f-bai
{
    font-family: $font-bai;
}
.f-marcellus
{
    font-family: $font-marcellus;
}
.f-rajdhani
{
    font-family: $font-rajdhani;
}
.f-rale
{
    font-family: $font-raleway;

}
.f-sulphur
{
    font-family: $font-sulphur;
}