// typo
$font-bai: 'Bai Jamjuree', sans-serif;
$font-marcellus: 'Marcellus', serif;
$font-rajdhani: 'Rajdhani', sans-serif;
$font-raleway: 'Raleway', sans-serif;
$font-sulphur: 'Sulphur Point', sans-serif;

// colors
$color-primary: #161b40;
$color-primary2: #43bee5;